<div class="product-image" style="background: url({{product.image}});"></div>
<p class="fs-1 m-0"> {{product.title}}</p>

<div class="d-flex gap-3 align-items-center">
<br class="text-muted"><b>Created at:  {{formatDate product.createdAt}} </b> </small>
<p class="fw-bold m-0 p-0"> {{product.price}}.00$</p>
</div>
<p class=""> {{product.description}}</p>